<template>
  <div class="karte">
    <div class="vorderseite" :title="karte.index">
      <div class="head">
        <img :src="'/bilder/'+karte.index+'.jpg'" class="bg">
        <h1>{{ karte.titel }}</h1>
      </div>
      <div class="body">
        <p>{{ karte.aktion }}</p>
        <div :class="{puls:true, best: karte.ist_zustand}"></div>
        <!-- have statistics for haufigkeit, verspatung, verwirrung, lacherlichkeit -->
      </div>
      <div :class="{'stats-container':true,hasHighlight:highlightedStat!== null}">
        <div class="stats">
          <div :class="{stat:true,highlighted: highlightedStat === 'haufigkeit'}"
               @click="highlightedStat = 'haufigkeit'">
            <div class="best" v-if="best.haufigkeit === karte.haufigkeit"></div>
            <div class="num">{{ karte.haufigkeit }}</div>
            <div class="description">Häufigkeit</div>
          </div>
          <div :class="{stat:true,highlighted: highlightedStat === 'verspatung'}"
               @click="highlightedStat = 'verspatung'">
            <div class="best" v-if="best.verspatung === karte.verspatung"></div>
            <div class="num">{{ karte.verspatung }}</div>
            <div class="description">Verspätung</div>
          </div>
        </div>
        <div class="stats">
          <div :class="{stat:true,highlighted: highlightedStat === 'verwirrung'}"
               @click="highlightedStat = 'verwirrung'">
            <div class="best" v-if="best.verwirrung === karte.verwirrung || karte.verwirrung == '11'"></div>
            <div class="num">{{ karte.verwirrung }}</div>
            <div class="description">Verwirrung</div>
          </div>
          <div :class="{stat:true,highlighted: highlightedStat === 'lacherlichkeit'}"
               @click="highlightedStat = 'lacherlichkeit'">
            <div class="best" v-if="best.lacherlichkeit === karte.lacherlichkeit "></div>
            <div class="num">{{ karte.lacherlichkeit }}</div>
            <div class="description">Lächerlichkeit</div>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
// highlighted stat
const highlightedStat = ref(null)

// use props karte
const props = defineProps({
  karte: {
    type: Object,
    required: true
  }
})

const karte = props.karte

const best = {
  haufigkeit: "0",
  verspatung: "300",
  verwirrung: "10",
  lacherlichkeit: "10",
}
</script>

<style scoped>
.karte {
  height: 9cm;
  width: 6cm;
  box-sizing: border-box;
  border: 1px solid #0003;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  display: flex;
  flex-direction: column;
}

.karte .titel {
  font-size: 1.5em;
  font-weight: bold;
}

.bg, .karte h1 {
  width: 100%;
  height: 2.5cm;
  box-sizing: border-box;
}

.karte h1 {
  color: white;
  /*background-image: linear-gradient(45deg, rgba(0,0,0,.4), rgba(0,0,0,0));*/
  background: rgba(0, 0, 0, .2);
  font-size: 1.1em;
  display: flex;
  align-items: end;
  justify-content: left;
  margin-top: 0;
  text-shadow: 0 0 0.5em #000;
  position: absolute;
  padding: .5cm .5cm;
}

img {
  z-index: -1;
  object-fit: cover;
  position: absolute;
}

.karte .body, .stats-container {
  padding: .45cm 0.5cm;
  margin-top: 2.4cm;
}

.karte p {
  padding: 0;
  margin: 0;
}

.puls {
  width: 50px;
  height: 5px;
  background: #EC0215;
  border-radius: 10px;
  margin: 10px 0;
}


.stats {
  display: flex;
  gap: .15cm;
  margin-top: .15cm;
}

.stat {
  color: white;
  border-radius: 6px;
  padding: 7px 9px;
  display: inline-block;
  cursor: pointer;
  background: #3C414B;
  box-sizing: border-box;
  position: relative;
  width: 50%;
}

.stat .num {
  font-size: 1.5em;
  font-weight: bold;
}

.stat .description {
  font-size: 0.5em;
}

.karte p {
  font-size: 0.8em;
}

.stat.highlighted {
  background: #2C313B;
}

.stats-container.hasHighlight .stat:not(.highlighted) {
  opacity: 0.3;
}

.karte .vorderseite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat .best {
  background: #64A616;
  padding: 4px;
  border-radius: 5px;
  position: absolute;
  right: 7px;
}

.stats-container {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
}

.puls.best {
  background: #64A616;
}
</style>