<meta charset=utf8>
<script src="vue.global"></script>

<div id="app">
    <div v-for="(karte,index) in karten" class="karte">
        <div class="vorderseite" :title="index">

            <div class="text_rotate">


                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="white sm">ICE 1558</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1665</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                    <div class="white sm">ICE 1558</div>
                </div>

                <div class="line" style="margin-left:80px">
                    <div class="white sm">ICE 128</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="white sm">ICE 1558</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>
                <div class="line">
                    <div class="white sm" style="margin-left:100px">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                    <div class="white sm">ICE 1558</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line" style="margin-left:43px">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line" style="margin-left:10px">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>

                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line" style="margin-left:10px">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>

                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1662</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>

                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>

                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 38</div>
                    <div class="md">Ludwigslust-Wittenberge-Berlin Hbf</div>
                    <div class="sm">6b</div>
                    <div class="white lg">+++ Streikankündigung der GDL 14 Uhr bis 16,0kt. 4 Uhr. +++</div>
                </div>
                <div class="line">
                    <div class="white sm">RE 41</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                    <div class="sm">13</div>
                    <div class="white lg">+++ Zug fällt aus +++</div>
                    <div class="md">Emmendingen - Offenburg - Lahr</div>
                </div>
                <div class="line">
                    <div class="white sm">ICE 1558</div>
                    <div class="md">Dresden - Leipzig - Erfurt</div>
                    <div class="sm">3</div>
                    <div class="white lg">+++ Heute ohne Halt in Frankfurt, Offenburg +++</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    const {createApp} = Vue

    const csv = `Grund der Verspätung;Häufigkeit;Verspätung (min);Verwirrung;Lächerlichkeit;Aktion beim ausspielen
Frankfurt Hbf;10;10;4;9;Spucke auf den Boden. Wenn Du in der DB Lounge bist, hole Dir einen Espresso.
ICE 271 (Basel SBB);10;30;0;10;Schaue Deinen Gegenüber einfach nur an, atme tief durch und sage  mit hoffnungsloser Stimme “ICE 271”
Beinträchtigung durch Vandalismus;1;15;2;1;Klaue Deinem Gegenüber ein paar Karten. Bei Polizeieinsatz klaut Dein Gegenüber Dir ein paar Karten.
Warten auf Anschlussreisende;...3;...10;...4;...2;Wenn Dein Spielpartner Dir eine Zahl nennt, warte mit Deiner Reaktion, bis er Dich wirklich mehrfach auffordert.
Technische Störungen;6;40;8;10;Drehe deinen Kartenstapel so, dass die Schrift kopfüber steht. Wenn Deine Schrift bereits Kopfüber ist, drehe sie jetzt wieder zurück.
Kurzfristiger Personalausfall;7;90;8;9;Falls Du auf Toilette musst oder auf irgendetwas anderes Lust hast, mach das jetzt. Dein Gegenüber muss so lange warten, bis Du wieder da bist.
Unwetterschäden;6;180;10;1;Vernichte diese Karte. Du darfst Sie alternativ auch einfach nebens Spielfeld legen. Ziehe ebenfalls 5 Karten von deinem Gegenüber aus dem Spiel.
Person im Gleis;4;20;7;2;Spiele so lange auf dem Tisch liegend weiter, bis ein Polizei oder Feuerwehreinsatz kommt.
Tiere im Gleis;1;20;9;3;Vegane Menschen gewinnen mit dieser Karte. Wenn Dein Gegenüber einen Polizei oder Feuerwehreinsatz hat, verlierst Du. Ansonsten gelten die Werte.
Reparatur am Zug;4;30;6;7;Du darfst alle Deine Karten anschauen und neu sortieren. Allerdings hast Du dafür nur 10 Sekunden Zeit. Dein Gegenüber zählt laut mit.
Außergewöhnlich hohe Auslastung;6;10;5;8;Halbiere Deinen Stapel. Du hast ab jetzt auf beiden Händen ein Deck Karten und spielst immer abwechselnd linkes Deck, rechtes Deck.
Gleiswechsel;3;5;9;5;Tja, jetzt ist die andere Person am Zug.
Frankfurt Flughafen;7;5;11;6;Hier ist Verwirrung gegeben, da reicht die 10er Skala nicht aus! Dein Gegenüber muss übrigens seine Karten mischen.
Zugausfall;3;300;10;4;Dein nächster Zug fällt aus, wortwörtlich! Dein Gegenüber darf Dich zweimal hintereinander herausfordern.
SEV;6;60;10;9;Wer diese Runde gewinnt, muss die Karte möglichst umständlich zum Gegenüber befördern. Also nicht einfach in die Hand geben oder hinlegen…
Streikauswirkungen;2;120;6;1;Falls Du diese Karte in einer Runde hergeben sollst, erstreite Dir eine alternative Einigung mit Deinem Gegenüber. Dieser muss nicht kooperativ sein.
Anschluss vsl. nicht erreichbar;5;100;8;8;Du verpasst nicht nur Deinen Anschluss, sondern auch den Zug danach… Verliert sofort gegen Frankfurt Hbf/Flughafen oder ICE 271.
Verspätung aus vorheriger Fahrt;4;20+?;7;7;Für Verspätung gilt: Addiere die Verspätungs-Punkte von der letzten Karte zu dieser.
Polizeieinsatz;3;30;6;9;Personen, die auf dem Tisch liegen, dürfen wieder eine Sitzposition einnehmen. Auch doppelte Kartenstapel werden wieder vereint.
Reparatur an der Strecke;6;40;8;7;Sollte eure Spielunterlage schräg sein, darfst Du sie jetzt wieder gerade machen. Auch doppelte Kartenstapel werden wieder zusammengelegt.
Verspätete Bereitstellung des Zuges;2;50;6;10;Schaue Dir deine nächsten drei Karten an. Du darfst dabei auch die Reihenfolge dieser Karten ändern.
Störung an einem anderen Zug;4;30;7;10;Lege diese Karte jetzt zur Seite und spiele Sie bei einem anderen Zug deiner Wahl.
Umleitung wegen Streckensperrung;5;70;8;8;Wechselt den Spielort, esseiden, dein Gegenüber hat Reparatur an der Strecke.
Feuerwehreinsatz auf der Strecke;2;40;5;3;Personen, die auf dem Tisch liegen, dürfen wieder eine Sitzposition einnehmen.
Beschädigung einer Brücke;1;20;10;7;Kippt eure Spielunterlage so, dass Karten beim Ablegen runterrutschen. Wird durch Bauarbeiten oder Reparatur an der Strecke aufgehoben.
Defektes Stellwerk;4;15;4;3;Mische Deinen Kartenstapel nach dieser Runde einmal ordentlich durch, dass nichts mehr ist, wo es hingehört.
Defektes Stellwerk;4;15;4;3;Mische Deinen Kartenstapel nach dieser Runde einmal ordentlich durch, dass nichts mehr ist, wo es hingehört.
Defektes Stellwerk;4;15;4;3;Mische Deinen Kartenstapel nach dieser Runde einmal ordentlich durch, dass nichts mehr ist, wo es hingehört.
Bauarbeiten;4;20;9;5;Sollte eure Spielunterlage schräg sein, darfst Du sie jetzt wieder gerade machen.
Verspätung im Ausland;2;80;3;4;Du gewinnst sofort gegen Frankfurt Hbf/Flughafen oder ICE 271. Schließlich wirst Du genug Zeit haben, deinen Anschlusszug zu erreichen.
Wünsch dir was;?;?;?;?;Du darfst Dir alle Werte auf dieser Karte ausdenken, solange es Dein Gegenüber nicht bemerkt.
Zug ist Pünktlich;0;0;10;0;Dies ist nur ein theoretisches Konstrukt, und in der Praxis nicht relevant.
Bahncard 100;10;45;0;0;Dein Wort ist Gesetz. Eine Regel oder Aktion, die Du jetzt verordnest, bleibt den Rest des Spieles erhalten. Alle müssen ohne Zweifel danach handeln.
Funkloch;10;0;0;10;Sprich für diese Runde nur jedes zweite Wort Deines Satzes, so wie Du es aus dem deutschen Mobilfunknetz kennst.
Fahrgastreche Formular;8;120;8;10;Treibe einen Briefumschlag oder etwas Ähnliches auf. Etwas ähnliches ist übrigens ein sehr dehnbarer Begriff!\`
Bauarbeiten;4;20;9;5;Sollte eure Spielunterlage schräg sein, darfst Du sie jetzt wieder gerade machen.
Verspätung im Ausland;2;80;3;4;Du gewinnst sofort gegen Frankfurt Hbf/Flughafen oder ICE 271. Schließlich wirst Du genug Zeit haben, deinen Anschlusszug zu erreichen.
Wünsch dir was;?;?;?;?;Du darfst Dir alle Werte auf dieser Karte ausdenken, solange es Dein Gegenüber nicht bemerkt.
Zug ist Pünktlich;0;0;10;0;Dies ist nur ein theoretisches Konstrukt, und in der Praxis nicht relevant.
Bahncard 100;10;45;0;0;Dein Wort ist Gesetz. Eine Regel oder Aktion, die Du jetzt verordnest, bleibt den Rest des Spieles erhalten. Alle müssen ohne Zweifel danach handeln.
Funkloch;10;0;0;10;Sprich für diese Runde nur jedes zweite Wort Deines Satzes, so wie Du es aus dem deutschen Mobilfunknetz kennst.
Fahrgastreche Formular;8;120;8;10;Treibe einen Briefumschlag oder etwas Ähnliches auf. Etwas ähnliches ist übrigens ein sehr dehnbarer Begriff!\`
Bauarbeiten;4;20;9;5;Sollte eure Spielunterlage schräg sein, darfst Du sie jetzt wieder gerade machen.
Verspätung im Ausland;2;80;3;4;Du gewinnst sofort gegen Frankfurt Hbf/Flughafen oder ICE 271. Schließlich wirst Du genug Zeit haben, deinen Anschlusszug zu erreichen.
Wünsch dir was;?;?;?;?;Du darfst Dir alle Werte auf dieser Karte ausdenken, solange es Dein Gegenüber nicht bemerkt.
Zug ist Pünktlich;0;0;10;0;Dies ist nur ein theoretisches Konstrukt, und in der Praxis nicht relevant.
Zug ist Pünktlich;0;0;10;0;Dies ist nur ein theoretisches Konstrukt, und in der Praxis nicht relevant.
Bahncard 100;10;45;0;0;Dein Wort ist Gesetz. Eine Regel oder Aktion, die Du jetzt verordnest, bleibt den Rest des Spieles erhalten. Alle müssen ohne Zweifel danach handeln.
Funkloch;10;0;0;10;Sprich für diese Runde nur jedes zweite Wort Deines Satzes, so wie Du es aus dem deutschen Mobilfunknetz kennst.
Fahrgastreche Formular;8;120;8;10;Treibe einen Briefumschlag oder etwas Ähnliches auf. Etwas ähnliches ist übrigens ein sehr dehnbarer Begriff!`

    createApp({
        data() {
            return {
                message: 'Hello Vue!',
                karten: [],
                best: {
                    haufigkeit: "0",
                    verspatung: "300",
                    verwirrung: "10",
                    lacherlichkeit: "10",
                }
            }
        },
        mounted: function () {

            let rows = csv.split('\n')
            // remove first row
            rows.shift()

            rows = rows.map(row => {
                const [titel, haufigkeit, verspatung, verwirrung, lacherlichkeit, aktion] = row.split(';')
                return {
                    titel,
                    haufigkeit,
                    verspatung,
                    verwirrung,
                    lacherlichkeit,
                    aktion
                }
            })

            // store
            this.karten = rows

        }
    }).mount('#app')
</script>

<style>
    .text_rotate {
        font-size: .5em;
    }

    .line:nth-of-type(2n) {
        margin-left:-60px;
    }

    .line > div.white {
        background: white;
        color: #0C3996;
    }

    .line {
        display: flex;
        width: 2000px;

    }

    .line > div {
        color: white;
        padding: 0 2px;
        margin: 1px 1px;
    }

    .karte {
        height: 9cm;
        width: 6cm;
        box-sizing: border-box;
        border: 1px solid #fff;
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
        position: relative;
        background: #0C3996;
        margin: 0.5cm 0.5cm 3.43cm;
        display: flex;
        flex-direction: column;
    }

    .karte .titel {
        font-size: 1.5em;
        font-weight: bold;
    }

    #app {
        display: flex;
        flex-wrap: wrap;
    }

    .bg, .karte h1 {
        width: 100%;
        height: 2.5cm;
        font-weight: bold;
        box-sizing: border-box;
    }

    .karte h1 {
        font-weight: bold;
        color: white;
        /*background-image: linear-gradient(45deg, rgba(0,0,0,.4), rgba(0,0,0,0));*/
        background: rgba(0, 0, 0, .2);
        font-size: 1.1em;
        display: flex;
        align-items: end;
        justify-content: left;
        margin-top: 0;
        text-shadow: 0 0 0.5em #000;
        position: absolute;
        padding: .5cm .5cm;
    }

    img {
        z-index: -1;
        object-fit: cover;
        position: absolute;
    }

    .karte .body, .stats-container {
        padding: .45cm 0.5cm;
        margin-top: 2.4cm;
    }

    .karte p {
        padding: 0;
        margin: 0;
    }

    .puls {
        width: 50px;
        height: 5px;
        background: #EC0215;
        border-radius: 10px;
        margin: 10px 0;
    }

    @font-face {
        font-family: "DB Non Latin";
        src: url("DBNonLatin-Regular.ttf");
        font-weight: normal;
    }


    @font-face {
        font-family: "DB Non Latin";
        src: url("DBNonLatin-Bold.ttf");
        font-weight: bold;
    }

    body {
        font-family: "DB Non Latin";
    }

    .stats {
        display: flex;
        gap: .15cm;
        margin-top: .15cm;
    }

    .stat {
        color: white;
        border-radius: 6px;
        padding: 7px 9px;
        display: inline-block;
        background: #3C414B;
        box-sizing: border-box;
        position: relative;
        width: 50%;
    }

    .stat .num {
        font-size: 1.4em;
        font-weight: bold;
    }

    .stat .description {
        font-size: 0.5em;
    }

    .karte p {
        font-size: 12px;
    }

    .karte .vorderseite {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        rotate: -20deg;
        margin-left:-11px;
        margin-top:-19px;
    }

    .stat .best {
        background: #64A616;
        padding: 4px;
        border-radius: 5px;
        position: absolute;
        right: 7px;
    }

    .stats-container {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
    }

    * {
        -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
        color-adjust: exact !important; /* Firefox 48 – 96 */
        print-color-adjust: exact !important;
    }


    .karte {
        margin: 0.265cm;
        display: block;
        border: 1px solid #0002;
    }

    html,body {
        margin: 0cm;
    }

    #app {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

</style>
