<meta charset=utf8>
<script src="vue.global"></script>

<div id="app">
    <div v-for="(karte,index) in karten" class="karte">
        Gökhan Gültekin
        Sedat Gürbüz
        Said Nesar Hashemi
        Mercedes Kierpacz
        Hamza Kurtović
        Vili Viorel Păun
        Fatih Saraçoğlu
        Ferhat Unvar
        Kaloyan Velkov
        Ken Saro-Wiwa
        Saturday Dobee
        Nordu Eawo
        Daniel Gbooko
        Paul Levera
        Felix Nuate
        Baribor Bera
        Barinem Kiobel
        John Kpuine
        Malte C.
        KESHAWN THOMAS
        DANTE KITTRELL
        JAYLAND WALKER
        CHRISTOPHER KELLEY
        RUTH WHITFIELD
        PEARL YOUNG
        KATHERINE MASSEY
        HEYWARD PATTERSON
        CELESTINE CHANEY
        GERALDINE TALLEY
        AARON SALTER JR.
        ANDRE MACKNIEL
        MARGUS MORRISON
        ROBERTA DRURY
        PATRICK LYOYA
        DONNELL ROCHESTER
        AMIR LOCKE
        ISAIAH TYREE WILLIAMS
        JASON WALKER
        JAMES WILLIAMS
        MICHAEL WAYNE JACKSON
        ARNELL "AJ" STEWART
        FANTA BILITY
        ALVIN MOTLEY JR.
        RYAN LEROUX
        WINSTON SMITH
        LATOYA DENISE JAMES
        ANDREW BROWN JR.
        MA'KHIA BRYANT
        MATTHEW "ZADOK" WILLIAMS
        DAUNTE WRIGHT
        JAMES LIONEL JOHNSON
        DOMINIQUE WILLIAMS
        DONOVON LYNCH
        MARVIN SCOTT III
        JENOAH DONALD
        PATRICK WARREN
        XZAVIER HILL
        ROBERT HOWARD
        VINCENT BELMONTE
        MONICA GOODS
        BENNIE EDWARDS
        CASEY GOODSON JR.
        AIDEN ELLISON
        QUAWAN CHARLES
        KEVIN PETERSON JR.
        WALTER WALLACE JR.
        JONATHAN PRICE
        KURT REINHOLD
        DIJON KIZZEE
        DAMIAN DANIELS
        ANTHONY MCCLAIN
        JULIAN LEWIS
        MAURICE ABISDID-WAGNER
        BRAYLA STONE
        RAYSHARD BROOKS
        PRISCILLA SLATER
        ROBERT FORBES
        KAMAL FLOWERS
        JAMEL FLOYD
        DAVID MCATEE
        JAMES SCURLOCK
        CALVIN HORTON JR.
        TONY MCDADE
        DION JOHNSON
        GEORGE FLOYD
        MAURICE GORDON
        CORNELIUS FREDERICKS
        STEVEN TAYLOR
        DANIEL PRUDE
        BREONNA TAYLOR
        BARRY GEDEUS
        MANUEL ELLIS
        REGINALD "REGGIE" PAYNE
        AHMAUD ARBERY
        LIONEL MORRIS
        JAQUYN O'NEILL LIGHT
        WILLIAM GREEN
        DARIUS TARVER
        MICIAH LEE
        JOHN NEVILLE
        CAMERON LAMB
        MICHAEL DEAN
        ATATIANA JEFFERSON
        BYRON WILLIAMS
        ELIJAH MCCLAIN
        JALEEL MEDLOCK
        TITI "TETE" GULLEY
        DOMINIQUE CLAYTON
        PAMELA TURNER
        RONALD GREENE
        STERLING HIGGINS
        BRADLEY BLACKSHIRE
        JASSMINE MCBRIDE
        ALEAH JENKINS
        EMANTIC BRADFORD JR.
        JEMEL ROBERSON
        CHARLES ROUNDTREE JR.
        BOTHAM JEAN
        HARITH AUGUSTUS
        JASON WASHINGTON
        ANTWON ROSE JR.
        ROBERT WHITE
        EARL MCNEIL
        MARCUS-DAVID PETERS
        DORIAN HARRIS
        DANNY RAY THOMAS
        STEPHON CLARK
        RONELL FOSTER
        DAMON GRIMES
        JAMES LACY
        CHARLEENA LYLES
        MIKEL MCINTYRE
        JORDAN EDWARDS
        TIMOTHY CAUGHMAN
        ALTERIA WOODS
        DESMOND PHILLIPS
        DEBORAH DANNER
        ALFRED OLANGO
        TERENCE CRUTCHER
        CHRISTIAN TAYLOR
        JAMARION ROBINSON
        DONNELL THOMPSON JR.
        JOSEPH MANN
        PHILANDO CASTILE
        ALTON STERLING
        JAY ANDERSON JR.
        CHE TAYLOR
        DAVID JOSEPH
        ANTRONIE SCOTT
        BETTIE JONES
        QUINTONIO LEGRIER
        COREY JONES
        SAMUEL DUBOSE
        DARRIUS STEWART
        SANDRA BLAND
        SUSIE JACKSON
        DANIEL SIMMONS
        ETHEL LANCE
        MYRA THOMPSON
        CYNTHIA HURD
        DEPAYNE MIDDLETON-DOCTOR
        SHARONDA COLEMAN-SINGLETON
        CLEMENTA PINCKNEY
        TYWANZA SANDERS
        KALIEF BROWDER
        FREDDIE GRAY
        NORMAN COOPER
        WALTER SCOTT
        ERIC HARRIS
        MEAGAN HOCKADAY
        NATASHA MCKENNA
        RUMAIN BRISBON
        TAMIR RICE
        AKAI GURLEY
        TANISHA ANDERSON
        LAQUAN MCDONALD
        CAMERON TILLMAN
        DARRIEN HUNT
        KAJIEME POWELL
        MICHELLE CUSSEAUX
        DANTE PARKER
        EZELL FORD
        MICHAEL BROWN
        AMIR BROOKS
        JOHN CRAWFORD III
        ERIC GARNER
        JERRY DWIGHT BROWN
        VICTOR WHITE III
        MARQUISE JONES
        YVETTE SMITH
        RENISHA MCBRIDE
        JONATHAN FERRELL
        DEION FLUDD
        GABRIEL WINZER
        WAYNE A. JONES
        KIMANI GRAY
        KAYLA MOORE
        COREY STINGLEY
        DARNESHA HARRIS
        JORDAN DAVIS
        MOHAMED BAH
        SGT. JAMES BROWN
        DARIUS SIMMONS
        REKIA BOYD
        TRAYVON MARTIN
        WILLIE RAY BANKS
        KENNETH CHAMBERLAIN SR.
        CLETIS WILLIAMS
        ROBERT RICKS
        EUGENE ELLISON
        DANROY "DJ" HENRY JR.
        AIYANA STANLEY-JONES
        LAWRENCE ALLEN
        OSCAR GRANT
        JULIAN ALEXANDER
        MARVIN PARKER
        DEAUNTA FARROW
        SEAN BELL
        KATHRYN JOHNSTON
        TIMOTHY STANSBURY JR.
        ALBERTA SPRUILL
        ANTHONY DWAIN LEE
        RICKY BYRDSONG
        AMADOU DIALLO
        JAMES BYRD JR.
        NICHOLAS HEYWARD JR.
        MARY MITCHELL
        SHARON WALKER
        ELEANOR BUMPURS
        EDWARD GARDNER
        ELTON HAYES
        FRED HAMPTON
        MARTIN LUTHER KING JR.
        ALBERTA ODELL JONES
        JIMMIE LEE JACKSON
        MALCOLM X
        JAMES EARL CHANEY
        LOUIS ALLEN
        MEDGAR EVERS
        HERBERT LEE
        JOHN EARL REESE
        EMMETT TILL
        WILLIAM MCDUFFIE
        DELLA MCDUFFIE
        MALCOLM WRIGHT
        GEORGE STINNEY JR.
        DR. ANDREW C. JACKSON
        WILL BROWN
        LEVI HARRINGTON
        Mahsa Amini
        AND SO MANY OTHER LIVES THAT WERE TAKEN...
    </div>
</div>

<!--Ella
Julian Assange
-->
<script>

    const {createApp} = Vue

    const csv = `Grund der Verspätung;Häufigkeit;Verspätung (min);Verwirrung;Lächerlichkeit;Aktion beim ausspielen
Frankfurt Hbf;10;10;4;9;Spucke auf den Boden. Wenn Du in der DB Lounge bist, hole Dir einen Espresso.
ICE 271 (Basel SBB);10;30;0;10;Schaue Deinen Gegenüber einfach nur an, atme tief durch und sage  mit hoffnungsloser Stimme “ICE 271”
Funkloch;10;0;0;10;Sprich für diese Runde nur jedes zweite Wort Deines Satzes, so wie Du es aus dem deutschen Mobilfunknetz kennst.
Fahrgastreche Formular;8;120;8;10;Treibe einen Briefumschlag oder etwas Ähnliches auf. Etwas ähnliches ist übrigens ein sehr dehnbarer Begriff!`

    createApp({
        data() {
            return {
                message: 'Hello Vue!',
                karten: [],
                best: {
                    haufigkeit: "0",
                    verspatung: "300",
                    verwirrung: "10",
                    lacherlichkeit: "10",
                }
            }
        },
        mounted: function () {

            let rows = csv.split('\n')
            // remove first row
            rows.shift()

            rows = rows.map(row => {
                const [titel, haufigkeit, verspatung, verwirrung, lacherlichkeit, aktion] = row.split(';')
                return {
                    titel,
                    haufigkeit,
                    verspatung,
                    verwirrung,
                    lacherlichkeit,
                    aktion
                }
            })

            // store
            this.karten = rows

        }
    }).mount('#app')
</script>

<style>
    .text_rotate {
    }

    .line:nth-of-type(2n) {
    }

    .line > div.white {
        background: white;
        color: #0C3996;
    }

    .line {
    }

    .line > div {
        color: white;
        padding: 0 2px;
    }

    .karte {
        text-transform: uppercase;
        font-size: 5px;
        text-align: justify;

        height: 9cm;
        color: white;
        width: 6cm;
        box-sizing: border-box;
        border: 1px solid #fff;
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
        position: relative;
        background: #0C3996;
        margin: 0.5cm 0.5cm 3.43cm;
        display: flex;
        flex-direction: column;
    }

    .karte .titel {
        font-size: 1.5em;
        font-weight: bold;
    }

    #app {
        display: flex;
        flex-wrap: wrap;
    }

    .bg, .karte h1 {
        width: 100%;
        height: 2.5cm;
        font-weight: bold;
        box-sizing: border-box;
    }

    .karte h1 {
        font-weight: bold;
        color: white;
        /*background-image: linear-gradient(45deg, rgba(0,0,0,.4), rgba(0,0,0,0));*/
        background: rgba(0, 0, 0, .2);
        font-size: 1.1em;
        display: flex;
        align-items: end;
        justify-content: left;
        margin-top: 0;
        text-shadow: 0 0 0.5em #000;
        position: absolute;
        padding: .5cm .5cm;
    }

    img {
        z-index: -1;
        object-fit: cover;
        position: absolute;
    }

    .karte .body, .stats-container {
        padding: .45cm 0.5cm;
        margin-top: 2.4cm;
    }

    .karte p {
        padding: 0;
        margin: 0;
    }

    .puls {
        width: 50px;
        height: 5px;
        background: #EC0215;
        border-radius: 10px;
        margin: 10px 0;
    }

    @font-face {
        font-family: "DB Non Latin";
        src: url("DBNonLatin-Regular.ttf");
        font-weight: normal;
    }


    @font-face {
        font-family: "DB Non Latin";
        src: url("DBNonLatin-Bold.ttf");
        font-weight: bold;
    }

    body {
        font-family: "DB Non Latin";
    }

    .stats {
        display: flex;
        gap: .15cm;
        margin-top: .15cm;
    }

    .stat {
        color: white;
        border-radius: 6px;
        padding: 7px 9px;
        display: inline-block;
        background: #3C414B;
        box-sizing: border-box;
        position: relative;
        width: 50%;
    }

    .stat .num {
        font-size: 1.4em;
        font-weight: bold;
    }

    .stat .description {
        font-size: 0.5em;
    }

    .karte p {
        font-size: 12px;
    }

    .karte .vorderseite {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left:-11px;
        margin-top:-19px;
    }

    .stat .best {
        background: #64A616;
        padding: 4px;
        border-radius: 5px;
        position: absolute;
        right: 7px;
    }

    .stats-container {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
    }

    * {
        -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
        color-adjust: exact !important; /* Firefox 48 – 96 */
        print-color-adjust: exact !important;
    }


    .karte {
        margin: 0.265cm;
        display: block;
        border: 1px solid #0002;
    }

    html,body {
        margin: 0cm;
    }

    #app {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

</style>
