
.karte {
    height: 93mm;
    width: 60mm;
    box-sizing: border-box;
    border: 1px solid #fff0;
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin: 0.5cm 0.5cm 3.43cm;
    display: flex;
    flex-direction: column;
}

.karte img {
}

.karte .titel {
    font-size: 1.5em;
    font-weight: bold;
}

#app .karten {
    display: flex;
    flex-wrap: wrap;
}

.bg, .karte h1 {
    width: 100%;
    height: 2.5cm;
    font-weight: bold;
    box-sizing: border-box;
}


.karte.winter {
    background: linear-gradient(180deg, #ffffff 30%, #dff8f8 100%);
}

.karte h1 {
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, .2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
    font-size: 1.1em;
    display: flex;
    align-items: end;
    justify-content: left;
    margin-top: 0;
    position: absolute;
    padding: .5cm .5cm;
    padding-bottom: .4cm;
}

img.bg {
    z-index: -1;
    object-fit: cover;
    position: absolute;
}

.karte .body, .stats-container {
    padding: .45cm 0.5cm;
    margin-top: 2.4cm;
}

.karte p {
    padding: 0;
    margin: 0;
}

.puls {
    width: 50px;
    height: 5px;
    background: #EC0215;
    border-radius: 10px;
    margin: 10px 0;
}

@font-face {
    font-family: "DB Non Latin";
    src: url("DBNonLatin-Regular.ttf");
    font-weight: normal;
}


@font-face {
    font-family: "DB Non Latin";
    src: url("DBNonLatin-Bold.ttf");
    font-weight: bold;
}

body {
    font-family: "DB Non Latin";
}

.stats {
    display: flex;
    gap: .15cm;
    margin-top: .15cm;
    margin-bottom: 3px;
}

.karte .kat {

    margin: 0;
    font-size: .8rem;
    background: white;
    width: fit-content;
    position: absolute;
    right: 15px;
    top: 83px;
    box-sizing: border-box;
    padding: 1px 5px;
    border-radius: 5px;
    border-bottom: 1px solid #333;
    box-shadow: 0 0 0.2em #0003;
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
    text-align: center;

    display: none;
}

.karte .kat svg {
    width: 1.5em;
    height: 1.5em;
}

.karte.karte-kat-12 h1 {
    border-bottom: 4px solid #6ed5d5;
}

.karte.karte-kat-12 {
    background: linear-gradient(180deg, #ffffff 30%, #dff8f8 100%);
}

.karte.karte-kat-1 h1 {
    border-bottom: 4px solid #EC0215;
}

.karte.karte-kat-1 {
    background: linear-gradient(180deg, #ffffff 30%, #ccc 100%);
}

.stat {
    color: white;
    border-radius: 6px;
    padding: 7px 9px;
    display: inline-block;
    background: #3C414B;
    box-sizing: border-box;
    position: relative;
    width: 50%;
}

.stat .num {
    font-size: 1.4em;
    font-weight: bold;
}


.stat .description {
    font-size: 0.5em;
}

.karte p {
    font-size: 12px;
}

.karte .vorderseite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat .best {
    background: #64A616;
    padding: 4px;
    border-radius: 5px;
    position: absolute;
    right: 7px;

    display: none;
}

.puls.best {
    background: #64A616;
}

.stats-container {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    width: 100%;
}

*, h1 {
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important; /* Firefox 48 – 96 */
    print-color-adjust: exact !important;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .4em;
    background: #fff9;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    box-shadow: 0 0 0.5em #0003;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

body {
    padding-top: 3em;
}

/* if not printed, have #333 background */
@media screen {

    html {
        /*
        background: #333;
        color: #fffa;
         */
    }

    .karte {
        /*border: 1px solid #0002;*/
        margin: 0.3cm;
    }
}

.karte {
    margin: 0.265cm;
}

.karte h1 {
    -webkit-print-color-adjust: exact !important;
    box-shadow: none !important;
    /* background: linear-gradient(0deg, #0007 40%, transparent);
    background: #0005;*/
}

html, body {
    margin: 0cm;
}

#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    font-size: 1em;
    padding: 6px 10px;
    border-radius: 7px;
    background: white;
    border: 2px solid #0002;
    transition: .1s;
}

button:hover {
    background: #0002;
    cursor: pointer;
    border-color: #0004;
}

button:active {
    background: #0004;
    border-color: #0006;
}

.regeln {
    padding: .2cm .5cm;
}

.karte h2, .karte h3, .karte ul, .regeln .info {
    margin: 0;
    padding: 0;
    font-size: 9px;
}

.regeln h3 {
    margin: 4px 0;
}

.regeln h3:first-of-type {
    margin-top: 16px;
}

.regeln .puls {
    margin-top: -5px;
    margin-bottom: 11px;
    height: 3px;
    width: 30px;

}

.regeln li {
    list-style: disclosure-closed;
    margin-left: 10px;
}

.regeln .info {
    font-size: 8px;
    margin-top: 10px;
}

.regeln .info {
    display: flex;
    opacity: .5;
    gap: 5px;
}

.regeln .info svg {
    width: 16px;
    flex: none;
}

/*
.karte img {
    display: none
}
 */

.karte {
    margin: 1cm 1cm;
}

/*
this part is for pdf export to affinity designer
*/
.karte {
    scale: .76;
}

/*
this part is for a4 print export
.karte {
    border-color: #0003;
}
*/

.karte .bg-icon {
    height: 4cm;
    width: 3cm;
    right: -10px;
    bottom: 90px;
    position: absolute;
    z-index: -2;
    opacity: .1;
}

.karte-53 h1,
.karte-140 h1 {
    background: none
}

.karte {
    background: white
}

.karte-140 p {
    margin-top: 8px;
}

.karte-140 .puls {
    display: none;
}

body {
    background: #333;
}