<meta charset=utf8>
<script src="vue.global"></script>

<div id="app">
    <div v-for="(karte,index) in karten" :class="'karte karte-'+index">
        <div class="vorderseite" :title="index">
            <div class="head">
                <img :src="'play/public/bilder_luetzi/'+index+'.jpg'" class="bg">
                <h1>{{karte.titel}}</h1>
            </div>
            <div class="body">
                <p>
                    <img src="play/public/speak.png" height="11" style="margin-bottom:-1px" v-if="karte.aktion.includes('🔉')">
                    {{karte.aktion.replace('🔉 ','')}}</p>

                <div :class="{puls:true, best: karte.ist_zustand}"></div>

                <!-- have statistics for haufigkeit, verspatung, verwirrung, lacherlichkeit -->


            </div>
            <div class="stats-container">
                <div class="stats">
                    <div class="stat">
                        <div class="best" v-if="best.haufigkeit === karte.haufigkeit || karte.haufigkeit == '11'"></div>
                        <div class="best" v-if="karte.haufigkeit == '11'" style="right:16px"></div>
                        <div class="num">{{karte.haufigkeit}}</div>
                        <div class="description">Witzigkeit</div>
                    </div>
                    <div class="stat">
                        <div class="best" v-if="best.verspatung === karte.verspatung"></div>
                        <div class="num">{{karte.verspatung}}</div>
                        <div class="description">Medienwirksam</div>
                    </div>
                </div>
                <div class="stats">
                    <div class="stat">
                        <div class="best" v-if="best.verwirrung === karte.verwirrung || karte.verwirrung == '11'"></div>
                        <div class="best" v-if="karte.verwirrung == '11'" style="right:16px"></div>

                        <div class="num">{{karte.verwirrung}}</div>
                        <div class="description">Liebe</div>
                    </div>
                    <div class="stat">
                        <div class="best" v-if="best.lacherlichkeit === karte.lacherlichkeit "></div>
                        <div class="num">{{karte.lacherlichkeit}}</div>
                        <div class="description">Struktur</div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="karte">
        <div class="regeln">
            <h3>Aktions-Karten</h3>
            <div class="puls"></div>
            <ul>
                <li>Aktionen durchlesen ( <img src="play/public/speak.png" height="11" style="margin-bottom:-2px;margin-right:2px"> vorlesen)</li>
                <li>Trumpfen, falls notwendig.</li>
            </ul>

            <h3>Fähigkeits-Karten</h3>
            <div class="puls best"></div>
            <ul>
                <li>Aktionen durchlesen ( <img src="play/public/speak.png" height="11" style="margin-bottom:-2px;margin-right:2px"> vorlesen)</li>
                <li>Trumpfen, falls notwendig.</li>
                <li>Falls Du gewinnst, lege sie vor dich.</li>
            </ul>


            <div class="info">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"/>
                </svg>
                <span>
                Bei mehr als 3 ausliegenden Karten, wird die älteste wieder aufgenommen.
                </span>
            </div>

            <h3 style="margin-top:15px">
                Wer gewinnt beim Trumpfen?</h3>
            <ul>
                <li>Verspätung, Verwirrung, Lächerlichkeit<br>&uarr; größter Wert</li>
                <li style="margin-top:9px">Häufigkeit<br>&darr; kleinster Wert</li>
            </ul>

            <div class="info">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"/>
                </svg>
                <span>Die besten Werte der Skala haben einen grünen Punkt im Feld.</span>
            </div>
        </div>
    </div>
</div>

<script>
    const {createApp} = Vue

    const csv = `Grund der Verspätung;Häufigkeit;Verspätung (min);Verwirrung;Lächerlichkeit;Aktion beim ausspielen
Polizeigefühle;?;?;?;?;🔉 Du kannst diese Karte gegen die Karte am Spielfeldrand austauschen. Falls du sie behalten möchtest, wähle die Werte nach Bauchgefühl.
Knoblauch;3;5;10;8;Solange diese Karte vor Dir liegt, hält der Knoblauchgeruch alle Mitspielenden davon ab, Dir Karten wegzunehmen.;1
Tampons & Binden;1;0;5;4;🔉 Hilft gegen Regel - Du darfst eine beliebige Spielregel einfach für Dich entkräften, solange diese Karte vor Dir liegt.;1
Ende des Patriarchats;0;6;9;8;🔉 Ein Text
Rojava;0;6;9;8;🔉 Ein Text
`

    createApp({
        data() {
            return {
                message: 'Hello Vue!',
                karten: [],
                best: {
                    haufigkeit: "10",
                    verspatung: "10",
                    verwirrung: "10",
                    lacherlichkeit: "10",
                }
            }
        },
        mounted: function () {

            let rows = csv.split('\n')
            // remove first row
            rows.shift()
            rows.pop()

            rows = rows.map(row => {
                const [titel, haufigkeit, verspatung, verwirrung, lacherlichkeit, aktion, ist_zustand] = row.split(';')
                return {
                    titel,
                    haufigkeit,
                    verspatung,
                    verwirrung,
                    lacherlichkeit,
                    aktion,
                    ist_zustand
                }
            })

            // store
            this.karten = rows

        }
    }).mount('#app')
</script>

<style>
    .karte {
        height: 9cm;
        width: 6cm;
        box-sizing: border-box;
        border: 1px solid #fff2;
        border-radius: 10px;
        overflow: hidden;
        display: inline-block;
        position: relative;
        margin: 0.5cm 0.5cm 3.43cm;
        display: flex;
        flex-direction: column;

    }

    .karte img {
    }

    .karte .titel {
        font-size: 1.5em;
        font-weight: bold;
    }

    #app {
        display: flex;
        flex-wrap: wrap;
    }

    .bg, .karte h1 {
        width: 100%;
        height: 2.5cm;
        font-weight: bold;
        box-sizing: border-box;
    }

    .karte h1 {
        font-weight: bold;
        color: white;
        /*background-image: linear-gradient(45deg, rgba(0,0,0,.4), rgba(0,0,0,0));*/
        /* background: rgba(0, 0, 0, .2); */
        font-size: 1.1em;
        display: flex;
        align-items: end;
        justify-content: left;
        margin-top: 0;
        text-shadow: 0 0 0.5em #000;
        position: absolute;
        padding: .5cm .5cm;
        padding-bottom: .4cm;
    }

    img.bg {
        z-index: -1;
        object-fit: cover;
        position: absolute;
    }

    .karte .body, .stats-container {
        padding: .45cm 0.5cm;
        margin-top: 2.4cm;
    }

    .karte p {
        padding: 0;
        margin: 0;
    }

    .puls {
        width: 50px;
        height: 5px;
        background: #EC0215;
        border-radius: 10px;
        margin: 10px 0;
    }

    @font-face {
        font-family: "DB Non Latin";
        src: url("DBNonLatin-Regular.ttf");
        font-weight: normal;
    }


    @font-face {
        font-family: "DB Non Latin";
        src: url("DBNonLatin-Bold.ttf");
        font-weight: bold;
    }

    body {
        font-family: "DB Non Latin";
    }

    .stats {
        display: flex;
        gap: .15cm;
        margin-top: .15cm;
    }

    .stat {
        color: white;
        border-radius: 6px;
        padding: 7px 9px;
        display: inline-block;
        background: #3C414B;
        box-sizing: border-box;
        position: relative;
        width: 50%;
    }

    .stat .num {
        font-size: 1.4em;
        font-weight: bold;
    }

    .stat .description {
        font-size: 0.5em;
    }

    .karte p {
        font-size: 12px;
    }

    .karte .vorderseite {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .stat .best {
        background: #64A616;
        padding: 4px;
        border-radius: 5px;
        position: absolute;
        right: 7px;
    }

    .puls.best {
        background: #64A616;
    }

    .stats-container {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
    }

    *, h1 {
        -webkit-print-color-adjust: exact !important; /* Chrome, Safari 6 – 15.3, Edge */
        color-adjust: exact !important; /* Firefox 48 – 96 */
        print-color-adjust: exact !important;
    }

    /* if not printed, have #333 background */
    @media screen {

        html {
            /*
            background: #333;
            color: #fffa;
             */
        }

        .karte {
            border: 1px solid #0002;
            margin: 0.3cm;
        }
    }

    .karte {
        margin: 0.265cm;
    }

    .karte h1 {
        -webkit-print-color-adjust: exact !important;
        box-shadow: none !important;
        text-shadow: none !important;
        /* background: linear-gradient(0deg, #0007 40%, transparent); */
        background: #0005;
    }

    html, body {
        margin: 0cm;
    }

    #app {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .regeln {
        padding: .15cm .66cm;
    }

    .karte h2, .karte h3, .karte ul, .regeln .info {
        margin: 0;
        padding: 0;
        font-size: 9px;
    }

    .regeln h3 {
        margin: 10px 0;
    }
    .regeln h3:first-of-type {
        margin-top:24px;
    }


    .regeln .puls {
        margin-top: -5px;
        margin-bottom: 11px;
        height: 3px;
        width: 30px;

    }

    .regeln li {
        list-style: disclosure-closed;
        margin-left: 10px;
    }

    .regeln .info {
        font-size: 8px;
        margin-top: 10px;
    }

    .regeln .info {
        display: flex;
        opacity: .5;
        gap: 5px;
    }

    .regeln .info svg {
        width: 16px;
        flex: none;
    }


    /*
    this part is for pdf export to affinity designer
    .karte {
        scale: 1.07;
    }
    */

    /*
    this part is for a4 print export
    */
    .karte {
        border-color: #0003;
    }
</style>
