<meta charset=utf8>
<script src="vue.global"></script>

<div id="app">
    <div class="navbar">Karten aktuell: {{karten.length +1}} / 110</div>
    <div class="flex-col" style="margin-top:20px">
        <button @click="kategorienSichtbar = !kategorienSichtbar">Kategorien {{kategorienSichtbar ? 'ausblenden' :
            'einblenden'}}
        </button>
        <div class="kategorien flex-col" v-if="kategorienSichtbar">
            <h2>Kategorien</h2>
            <ul>
                <li v-for="kategorie in kategorien">
                    <h2>{{ kategorie }} ({{ karten.filter(karte => karte.kat === kategorie.split(' ')[0]).length }}
                        Karten)</h2>
                    <ul>
                        <li v-for="karte in karten.filter(k => k.kat === kategorie.split(' ')[0])">
                            <h3>{{ karte.titel}}</h3>
                            <p>{{ karte.aktion}}</p>
                        </li>
                    </ul>
                </li>
            </ul>
            <hr>
        </div>
    </div>


    <div class="karten">
        <div v-for="(karte,index) in karten" :class="'karte karte-'+karte.id+' karte-kat-'+karte.kat">
            <div class="vorderseite" :title="index+' (ID='+karte.id+')'">
                <div class="head">
                    <img :src="'play/public/bilder/timo/'+karte.id+'.jpg'" class="bg">
                    <h1>{{karte.titel}}</h1>
                    <div class="kat"> {{karte.kat}}{{karte.kat_char}}</div>
                </div>
                <div class="body">


                    <p>
                        <img src="play/public/speak.png" height="11" style="margin-bottom:-1px"
                             v-if="karte.aktion.includes('🔉') && !karte.ist_zustand">
                        {{karte.aktion.replace('🔉 ','')}}</p>

                    <div :class="{puls:true, best: karte.ist_zustand}"></div>

                    <!-- have statistics for haufigkeit, verspatung, verwirrung, lacherlichkeit -->


                </div>
                <div class="stats-container">
                    <div class="stats">
                        <div class="stat">
                            <div class="best"
                                 v-if="best.haufigkeit === karte.haufigkeit || karte.haufigkeit == '-1'"></div>
                            <div class="best" v-if="karte.haufigkeit == '-1'" style="right:16px"></div>
                            <div class="num">{{karte.haufigkeit}}</div>
                            <div class="description">Slayness</div>
                        </div>
                        <div class="stat">
                            <div class="best" v-if="best.verspatung === karte.verspatung"></div>
                            <div class="num">{{karte.verspatung}}</div>
                            <div class="description">Verzögerung</div>
                        </div>
                    </div>
                    <div class="stats">
                        <div class="stat">
                            <div class="best"
                                 v-if="best.verwirrung === karte.verwirrung || karte.verwirrung == '11'"></div>
                            <div class="best" v-if="karte.verwirrung == '11'" style="right:16px"></div>

                            <div class="num">{{karte.verwirrung}}</div>
                            <div class="description">Verwirrung</div>
                        </div>
                        <div class="stat">
                            <div class="best"
                                 v-if="best.lacherlichkeit === karte.lacherlichkeit  ||  karte.lacherlichkeit == '11'"></div>
                            <div class="best" v-if="  karte.lacherlichkeit == '11'" style="right:16px"></div>
                            <div class="num">{{karte.lacherlichkeit}}</div>
                            <div class="description">Skurrilness</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="karte">
            <div class="regeln">
                <h3>Ablauf</h3>
                <ul>
                    <li>Aktion auf Karte durchlesen.<br>(bei <img src="play/public/speak.png" height="11"
                                                                  style="margin-bottom:-2px;margin-right:2px"> laut
                        vorlesen)
                    </li>
                    <li>Aktion auf Aktionskarten (roter Puls) ausführen.</li>
                    <li>Trumpfen, falls möglich.</li>
                    <li>Bei einem Gewinn mit einer Fähigkeitskarte (grüner Puls)
                        <b>muss</b> diese nun offen als eigene Fähigkeit auf den Tisch gelegt werden und
                        bei nachfolgenden Zügen angewendet werden. Wenn bereits 4 Karten im
                        Fähigkeiten-Bereich liegen, muss die älteste Karte aufgenommen werden.
                    </li>
                </ul>

                <div class="info">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"/>
                    </svg>
                    <span>
                Solange eine Karte als Fähigkeit auf dem Tisch liegt, zählt sie <b>nicht</b> als Handkarte.
  Geht der Handstapel zur Neige, dürfen Fähigkeitskarten <b>nicht</b> aufgenommen werden!
                </span>
                </div>

                <h3 style="margin-top:10px">
                    Wer gewinnt beim Trumpfen?</h3>
                <ul>
                    <li>Verspätung, Verwirrung, Lächerlichkeit<br>&uarr; größter Wert</li>
                    <li style="margin-top:9px">Häufigkeit<br>&darr; kleinster Wert</li>
                </ul>

                <div class="info" style="display: none">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z"/>
                    </svg>
                    <span>Die besten Werte der Skala haben einen grünen Punkt im Feld.</span>
                </div>
            </div>
        </div>

        <div class="karte" v-if="false">
            <div class="regeln">
                <h3> Durchschnittswerte</h3>
                <ul>
                    <li>Häufigkeit: {{durchschnitt.haufigkeit}}</li>
                    <li>Verspätung: {{durchschnitt.verspatung}}</li>
                    <li>Verwirrung: {{durchschnitt.verwirrung}}</li>
                    <li>Lächerlichkeit: {{durchschnitt.lacherlichkeit}}</li>
                </ul>
                <h3 style="margin-top:10px">Kategorien</h3>
                <ul>
                    <li v-for="kategorie in kategorien">
                        <span class="kategorie">{{kategorie}} ({{karten.filter(k => k.kat === kategorie.split(' ')[0]).length}})</span>
                    </li>
                </ul>
                <h3 style="margin-top:10px">Karten Verhältnis</h3>
                <ul>
                    <li>{{karten.filter(k => k.ist_zustand).length}} Fähigkeiten / {{karten.filter(k =>
                        !k.ist_zustand).length}} Aktionen
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>

<script>
    const {createApp} = Vue

    const kategorien = `
1 Bahnhöfe
2 Züge
3 Einflüsse von außen
4 Betriebsablauf
5 Bauarbeiten & BOS
6 Sonderereignisse
7 Spezialkarten
8 Tickets
9 Essen
10 Sprechen
11 Sitzplatz
12 Winter
13 Durch die Nacht?
14 Umrangieren
15 Bordtechnik
`
    //

    const csv = `Kartegorie;Grund der Verspätung;Häufigkeit;Verspätung (min);Verwirrung;Lächerlichkeit;Aktion beim ausspielen
+;7;Bahnhofsviertel;1;10;3;10;Erhöht Deine Skurrilness immer um 1.;1
+;7;;10;50;2;8;Herzlich Willkommen im Pink - Alle müssen trinken.
+;7;Speicherkarte verloren;0;?;10;8;Lege eine Karte ab, die Du nicht mehr brauchst.
+;7;Akku leer;0;120;8;7;Trink Dein Glas leer.
+;7;EF-Adapter geht verloren;4;80;10;2;Alle, die Michael heißen, müssen trinken.
+;7;Strom fällt aus;8;25;9;10;Schaltet das Licht aus.
+;7;Light Leak;4;5;4;7;Ihr könnt das Licht wieder einschalten.
+;7;Bokeh;5;5;5;5;Alle mit Brille müssen trinken.
+;7;Akkus Laden;2;40;4;8;Trink ein Glas Wasser.
+;7;Rettungsdecke;8;15;2;10;Wickelt Timo in eine Rettungsdecke ein.
+;7;Kabeltrommel;3;60;6;5;Tauscht reihum eure Kartenstapel.
+;7;Gay Drama;10;200;7;8;Du darfst Deinen Gegenüber nicht mehr direkt ansprechen, sondern musst über dritte kommunizieren lassen.
+;7;Regiebesprechung;5;25;10;4;Legt eure oberste Karte offen hin.
+;7;Aufnahmeleitung;4;10;2;10;Immer wenn Du gewinnst, kannst Du jemanden bestimmen, der trinkt.;1
+;7;Marvin;10;0;0;10;Erhöht Deine Slayness immer um 1.;1
+;7;Margret;1;30;6;10;Erzähle Timo ungefragt eine Geschichte und nimm ihm dabei eine Karte ab.
+;7;Timo;10;10;10;10;Timo hat es wirklich versucht, aber ist gescheitert. Verliert immer.
+;7;Drehbuch;4;20;9;2;Wer braucht schon ein Drehbuch? Entferne diese Karte aus dem Spiel.
+;7;Achsensprung;1;1;10;10;Tausche Deinen Sitzplatz mit Deinem Gegenüber.
+;7;Anders überlegt;6;10;9;3;Erhöht Deine Verwirrung immer um 1.;1
+;7;Gossip Queen;10;40;5;10;Erhöht Deine Verzögerung immer um 30.;1
+;7;Spiegelscherben;4;0;4;7;In dieser Runde sind die Kartenwerte umgekehrt. Ihr gewinnt also mit dem niedrigsten Wert.
+;7;CSD;10;60;5;4;Alle straighten Menschen müssen den Queers eine Karte geben.
+;7;CDU;0;30;5;3;Alle queeren Menschen müssen den Straights eine Karte geben.
+;7;Casting;4;50;6;6;Du bekommst von den anderen einen neuen Namen zugeteilt.
+;7;Kamera Department;2;30;6;2;Setze Dich auf den höchsten Stuhl oder Tisch (Du musst höher als alle anderen sein).
+;7;Drehschluss;2;0;2;6;Nehmt alle Fähigkeitskarten wieder auf die Hand.
+;7;Fix it in Post;3;100;3;3;Du darfst Dir alle Werte auf dieser Karte aussuchen.
+;7;Künstlerische Freiheit;2;10;4;5;Du darfst Dir eine neue Regel ausdenken.
+;7;Raucherpause;5;5;5;5;Wenn Du möchtest, kannst Du jetzt einfach aufstehen, Rauchen und die anderen warten lassen.
+;7;Vertragsabschluss;3;2;1;0;Du darfst einmal eine Aktion abwehren, danach musst Du diese Karte wieder auf die Hand nehmen.;1
+;7;Neubesetzung;7;30;8;2;Ich glaube da sitzt jemand falsch. Du kannst Sitzplatz und Kartenstapel eines anderen Spielers übernehmen.
+;7;Schluss machen;5;100;9;7;Du und Dein Gegenüber müssen die Hälfte der Handkarten aus dem Spiel und diese Karte entfernen. Außerdem dürft ihr nicht mehr miteinander reden.
+;7;Zeitumstellung;0;60;10;10;Alle müssen eine Stunde warten.
+;7;Monogame Beziehung;1;1;1;10;Suche Dir einen Trinkbuddy und immer wenn Du trinkst, muss er auch trinken, aber nicht andersrum.
+;7;Sound Design;3;7;8;4;Du darfst die Sprechlautstärke eines Mitspielenden einstellen.
+;7;Junggesellenabschied;3;70;9;9;Was für ein nerviges Durcheinander! Nimm alle ausliegenden Fähigkeitskarten, mische sie und teile sie im Uhrzeigersinn neu aus.
+;7;Klebrige Finger;10;20;9;10;Erhöht Deine Lächerlichkeit um 2, Du darfst aber nur noch zwei Finger benutzen. Tust Du das nicht, musst Du Schmierfink jedem Spieler eine Karte geben.;1
+;7;Gin Tonic;6;40;3;7;Strafkarten bei Regelverstoß entfallen für Dich, da Du nicht zurechnungsfähig bist. Wirst Du aber erwischt, musst Du diese Karte wieder aufnehmen.;1
+;7;In Mülleimer gekotzt;1;5;3;7;Nimm bis zu 5 Karten auf, die zuvor aus dem Spiel entfernt wurden. Entferne dafür diese Karte aus dem Spiel.
+;7;Backstabbing;10;20;8;2;Wenn es zum Stich kommt, gewinnst Du sofort;1
+;7;The Gay Network;10;2;7;10;Wenn ihr einander kennt, weil ihr schwul seid, trinkt.
+;7;Koffein;7;2;5;9;Alle müssen ein koffeinhaltiges Getränk trinken, damit sie wieder wach werden.
+;7;Nackenheim;3;8;10;5;Diese Runde geht auf Deinen Nacken. Du gibst jedem eine Karte Deiner Wahl und ein Getränk.
+;7;Optimierungs-Schleife;3;60;8;2;Wer gegen Dich trumpft, muss Dich in zwei Kategorien besiegen. Bei der zweiten Kategorie gelten jedoch Deine anderen Fähigkeitskarten nicht.
+;7;Poly Beziehung;9;0;6;3;Verknüpfe zwei Monogame Beziehungen. Wenn einer der beiden trinkt, muss der andere auch trinken.
+;7;DaVinci Resolve;2;60;6;0;Voller Absturz. Alle auf Ex.
+;7;On a budget;2;35;4;8;Schenke Dir von dem billigsten Getränk ein, das Du findest.
+;7;Copyright;5;0;10;6;Diese Karte gehört ab jetzt Dir. Gib sie nie her - auch wenn Du verlierst. Deine Mitspieler dürfen natürlich versuchen, sie Dir zu abzuluchsen.
+;7;Tinder;10;5;6;10;Teile Deinen Tinder Account mit einem Mitspieler. Wenn Du ein Match hast, trinkt er mit Dir.
+;7;Photoshop;4;5;8;2;Du darfst immer einen Wert Deiner Wahl um eine Einheit verbessern.;1
+;7;Top;10;0;0;10;Du darfst die Verwirrung immer um 2 Einheiten erhöhen.;1
+;7;Bottom;10;0;10;0;Du darfst die Slayness immer um 2 Einheiten erhöhen.;1
+;7;Timos Konzept;1;20;10;5;Das Wahrzeichen eines Timo-Drehs. Ein geheimnisvolles Objekt, nach dem alle wie verrückt sind. Der Meistbietende dieser Runde darf diese Karte sein eigen nennen.
+;7;Wasserglas;2;1;4;10;Seid ihr im falschen Spiel? Naja, egal. Jeder muss ein Glas Wasser trinken.
`

    createApp({
        data() {
            return {
                karten: [],
                best: {
                    haufigkeit: "0",
                    verspatung: "180",
                    verwirrung: "10",
                    lacherlichkeit: "10",
                },
                kategorien: kategorien.trim().split("\n"),
                kategorienSichtbar: false,
            }
        },
        mounted: function () {

            let rows = csv.split('\n')

            // remove first row
            rows.shift()
            rows.pop()

            // remove empty rows
            rows = rows.filter(row => row.length > 0)

            // give them IDs
            rows = rows.map((row, index) => {
                return index + ';' + row
            })

            // remove Lorem Ipsum
            // rows = rows.filter(row => !row.includes('Lorem Ipsum'))

            // remove lines starting with a number followed by ;--;
            rows = rows.filter(row => row.match(/^\d+;\+/))


            let kat_count = []

            rows = rows.map(row => {
                const [id, rating, kat, titel, haufigkeit, verspatung, verwirrung, lacherlichkeit, aktion, ist_zustand] = row.split(';')
                if (!kat_count[kat]) {
                    kat_count[kat] = 0
                }

                kat_count[kat]++
                if (String.fromCharCode(64 + parseInt(kat_count[kat])) == 'I' || String.fromCharCode(64 + parseInt(kat_count[kat])) == 'O') {
                    kat_count[kat]++
                }

                return {
                    rating,
                    kat,
                    kat_char: String.fromCharCode(64 + parseInt(kat_count[kat])),
                    kat_title: this.kategorien[kat - 1].split(' ')[1],
                    id,
                    titel,
                    haufigkeit,
                    verspatung:(verspatung < 10 ? Math.ceil(verspatung / 2)*10: verspatung),
                    verwirrung,
                    lacherlichkeit,
                    aktion,
                    ist_zustand
                }
            })

            // store
            this.karten = rows

        },
        computed: {
            durchschnitt: function () {
                let durchschnitt = {
                    haufigkeit: 0,
                    verspatung: 0,
                    verwirrung: 0,
                    lacherlichkeit: 0,
                }

                let durchschnitt_count = {
                    haufigkeit: 0,
                    verspatung: 0,
                    verwirrung: 0,
                    lacherlichkeit: 0,
                }


                this.karten.forEach(karte => {
                    /* if they are numbers */
                    if (!isNaN(parseInt(karte.haufigkeit))) {
                        durchschnitt.haufigkeit += parseInt(karte.haufigkeit)
                        durchschnitt_count.haufigkeit++
                    }
                    if (!isNaN(parseInt(karte.verspatung))) {
                        durchschnitt.verspatung += parseInt(karte.verspatung)
                        durchschnitt_count.verspatung++
                    }
                    if (!isNaN(parseInt(karte.verwirrung))) {
                        durchschnitt.verwirrung += parseInt(karte.verwirrung)
                        durchschnitt_count.verwirrung++
                    }
                    if (!isNaN(parseInt(karte.lacherlichkeit))) {
                        durchschnitt.lacherlichkeit += parseInt(karte.lacherlichkeit)
                        durchschnitt_count.lacherlichkeit++
                    }
                })

                durchschnitt.haufigkeit = durchschnitt.haufigkeit / durchschnitt_count.haufigkeit
                durchschnitt.verspatung = durchschnitt.verspatung / durchschnitt_count.verspatung
                durchschnitt.verwirrung = durchschnitt.verwirrung / durchschnitt_count.verwirrung
                durchschnitt.lacherlichkeit = durchschnitt.lacherlichkeit / durchschnitt_count.lacherlichkeit

                return durchschnitt
            }
        }
    }).mount('#app')
</script>

<link rel="stylesheet" href="index.css">


<style>
    .puls {
        background: lightgray;
    }

    .puls.best {
        background: deeppink;
    }

    .puls {
        width: 100%
    }
</style>